.swiper {
  &-slide {
    max-width: 370px;
  }

  &-button-next,
  &-button-prev {
    background: $color-main;
    width: 50px;
    box-shadow: 0px 0px 3px 1px $color-box-shadow;
    border-radius: 12px;

    &::after {
      color: $color-white;
      font-size: 20px;
      min-width: 0;
    }
  }
  &-button-next {
    padding-right: 20px;
    right: -20px;
  }

  &-button-prev {
    padding-left: 20px;
    left: -20px;
  }

  &:after {
    @include fadeEffect($position: right, $width: 100px);
  }

  &:before {
    @include fadeEffect($position: left, $width: 100px);
  }
}
