@import '../../styles/base/config';
@import '../../styles/base/mixins';
@import '../../styles/base/extends';

.column {
  @include display_flex(
    $direction: column,
    $align: flex-start,
    $justify: space-between,
    $gap: 16px
  );

  .link {
    font-family: $ff-open;
    font-size: 14px;
  }
}
