@import '../../../styles/base/functions';
@import '../../../styles/base/config';
@import '../../../styles/base/extends';
@import '../../../styles/base/mixins';

.blog {
  @include display_flex($gap: rems(32));

  .highlight {
    position: relative;

    min-height: rems(400);
    min-width: 40%;
    width: 100%;

    @include display_flex($direction: column, $justify: flex-end);

    color: $color-white;

    background-position: center;

    .tags {
      position: absolute;
      top: rems(24);
      left: rems(24);
    }

    .body {
      @include display_flex(
        $direction: column,
        $justify: flex-end,
        $gap: rems(8)
      );
      height: 50%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
      );

      padding: 24px;
    }
    .title {
      h3 {
        a {
          color: $color-white;
          font-weight: 600;
        }
      }
    }
  }

  .list {
    @include display_flex($direction: column, $gap: rems(32));
  }
}
