@font-face {
  font-family: 'icomoon';
  src: url('/fonts/icomoon.eot?2wm24u');
  src: url('/fonts/icomoon.eot?2wm24u#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?2wm24u') format('truetype'),
    url('/fonts/icomoon.woff?2wm24u') format('woff'),
    url('/fonts/icomoon.svg?2wm24u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$icons: (
  'actions-add': '\e900',
  'actions-add-file': '\e901',
  'actions-add-ribbon': '\e902',
  'actions-add-simple': '\e903',
  'actions-add-tab': '\e904',
  'actions-bag': '\e905',
  'actions-bookmark': '\e906',
  'actions-bookmarks': '\e907',
  'actions-calendar': '\e908',
  'actions-check': '\e909',
  'actions-check-simple': '\e90a',
  'actions-close': '\e90b',
  'actions-closed-user': '\e90c',
  'actions-closed-view': '\e90d',
  'actions-close-simple': '\e90e',
  'actions-danger': '\e90f',
  'actions-danger-simple': '\e910',
  'actions-download': '\e911',
  'actions-emultiple-edit': '\e912',
  'actions-file': '\e913',
  'actions-go-out': '\e914',
  'actions-half-layout': '\e915',
  'actions-heart': '\e916',
  'actions-layout': '\e917',
  'actions-loarder': '\e918',
  'actions-more-1': '\e919',
  'actions-more-2': '\e91a',
  'actions-multi': '\e91b',
  'actions-multi-success': '\e91c',
  'actions-newtab': '\e91d',
  'actions-new-window': '\e91e',
  'actions-paste': '\e91f',
  'actions-remove': '\e920',
  'actions-remove-ribbon': '\e921',
  'actions-remove-simple': '\e922',
  'actions-remove-tab': '\e923',
  'actions-search': '\e924',
  'actions-select': '\e925',
  'actions-selected': '\e926',
  'actions-settings': '\e927',
  'actions-star': '\e928',
  'actions-star-full': '\e929',
  'actions-switch-off': '\e92a',
  'actions-switch-on': '\e92b',
  'actions-thumbs-up': '\e92c',
  'actions-timer': '\e92d',
  'actions-trash': '\e92e',
  'actions-user': '\e92f',
  'actions-view': '\e930',
  'arrows-bottom': '\e931',
  'arrows-left': '\e932',
  'arrows-left-right': '\e933',
  'arrows-right': '\e934',
  'arrows-top': '\e935',
  'arrows-top-bottom': '\e936',
  'chevron-down': '\e937',
  'chevron-left': '\e938',
  'chevron-left-right': '\e939',
  'chevron-right': '\e93a',
  'chevron-top': '\e93b',
  'chevron-top-bottom': '\e93c',
  'construction-coasters': '\e93d',
  'construction-cone': '\e93e',
  'construction-drill': '\e93f',
  'construction-hammer': '\e940',
  'construction-hook': '\e941',
  'construction-ladder': '\e942',
  'construction-meter': '\e943',
  'construction-nail': '\e944',
  'construction-ruler': '\e945',
  'construction-sharpener': '\e946',
  'construction-shovel': '\e947',
  'construction-stop': '\e948',
  'contact-browser': '\e949',
  'contact-chat': '\e94a',
  'contact-edit': '\e94b',
  'contact-edit-contact': '\e94c',
  'contact-mail': '\e94d',
  'contact-map-pin': '\e94e',
  'contact-message': '\e94f',
  'contact-mobile': '\e950',
  'contact-phone': '\e951',
  'contact-phone-2': '\e952',
  'contact-phone-time': '\e953',
  'contact-time': '\e954',
  'devices-camera': '\e955',
  'devices-controller': '\e956',
  'devices-desktop': '\e957',
  'devices-headphones': '\e958',
  'devices-ipad': '\e959',
  'devices-keyboard': '\e95a',
  'devices-laptop': '\e95b',
  'devices-mobile': '\e95c',
  'devices-mouse': '\e95d',
  'devices-tablet': '\e95e',
  'devices-vr': '\e95f',
  'devices-watch': '\e960',
  'directions-again': '\e961',
  'directions-connect-up': '\e962',
  'directions-left': '\e963',
  'directions-left-right': '\e964',
  'directions-left-up': '\e965',
  'directions-right': '\e966',
  'directions-right-left': '\e967',
  'directions-right-left-up': '\e968',
  'directions-right-up': '\e969',
  'directions-round': '\e96a',
  'directions-turn-back': '\e96b',
  'directions-two-points': '\e96c',
  'ecommerce-badge': '\e96d',
  'ecommerce-basket': '\e96e',
  'ecommerce-card': '\e96f',
  'ecommerce-cart': '\e970',
  'ecommerce-delivery': '\e971',
  'ecommerce-gift': '\e972',
  'ecommerce-house': '\e973',
  'ecommerce-invoice': '\e974',
  'ecommerce-money': '\e975',
  'ecommerce-qr': '\e976',
  'ecommerce-sign': '\e977',
  'ecommerce-tag': '\e978',
  'editor-attachament': '\e979',
  'editor-block': '\e97a',
  'editor-capital': '\e97b',
  'editor-capitalize': '\e97c',
  'editor-center': '\e97d',
  'editor-color': '\e97e',
  'editor-left': '\e97f',
  'editor-right': '\e980',
  'editor-scale': '\e981',
  'editor-space': '\e982',
  'editor-table': '\e983',
  'editor-uncolor': '\e984',
  'emoji-angry': '\e985',
  'emoji-blink': '\e986',
  'emoji-crazy-happy': '\e987',
  'emoji-crying': '\e988',
  'emoji-feel-crazy': '\e989',
  'emoji-feel-quite-good': '\e98a',
  'emoji-pretty-good': '\e98b',
  'emoji-quite-ok': '\e98c',
  'emoji-sad': '\e98d',
  'emoji-super-smile': '\e98e',
  'emoji-weird': '\e98f',
  'emoji-weird-2': '\e990',
  'furniture-bed': '\e991',
  'furniture-chair': '\e992',
  'furniture-desk': '\e993',
  'furniture-lamp': '\e994',
  'furniture-light': '\e995',
  'furniture-mirror': '\e996',
  'furniture-pouch': '\e997',
  'furniture-rack': '\e998',
  'furniture-seat': '\e999',
  'furniture-shelf': '\e99a',
  'furniture-small-bed': '\e99b',
  'furniture-wardrobe': '\e99c',
  'kitchen-board': '\e99d',
  'kitchen-bowl': '\e99e',
  'kitchen-dipper': '\e99f',
  'kitchen-fork': '\e9a0',
  'kitchen-fridge': '\e9a1',
  'kitchen-knife': '\e9a2',
  'kitchen-microoven': '\e9a3',
  'kitchen-plate': '\e9a4',
  'kitchen-pot': '\e9a5',
  'kitchen-roller': '\e9a6',
  'kitchen-salt': '\e9a7',
  'kitchen-spoon': '\e9a8',
  'layout-content-left': '\e9a9',
  'layout-content-right': '\e9aa',
  'layout-footer': '\e9ab',
  'layout-header': '\e9ac',
  'layout-image-thumbnail': '\e9ad',
  'layout-left-menu': '\e9ae',
  'layout-multiple-grid': '\e9af',
  'layout-picture-left': '\e9b0',
  'layout-picture-right': '\e9b1',
  'layout-right-menu': '\e9b2',
  'layout-sections': '\e9b3',
  'layout-square-grid': '\e9b4',
  'media-backward': '\e9b5',
  'media-collection': '\e9b6',
  'media-disk': '\e9b7',
  'media-forward': '\e9b8',
  'media-microphone': '\e9b9',
  'media-mixer': '\e9ba',
  'media-note': '\e9bb',
  'media-play': '\e9bc',
  'media-stop': '\e9bd',
  'media-volume': '\e9be',
  'media-volume-down': '\e9bf',
  'media-volume-up': '\e9c0',
  'places-beacon': '\e9c1',
  'places-bridge': '\e9c2',
  'places-carousel': '\e9c3',
  'places-castle': '\e9c4',
  'places-church': '\e9c5',
  'places-cinema': '\e9c6',
  'places-court': '\e9c7',
  'places-mall': '\e9c8',
  'places-mosque': '\e9c9',
  'places-mountains': '\e9ca',
  'places-park': '\e9cb',
  'places-tent': '\e9cc',
  'real-estate-bath': '\e9cd',
  'real-estate-clima': '\e9ce',
  'real-estate-count': '\e9cf',
  'real-estate-fence': '\e9d0',
  'real-estate-flat': '\e9d1',
  'real-estate-plan': '\e9d2',
  'real-estate-pool': '\e9d3',
  'real-estate-search-house': '\e9d4',
  'real-estate-shower': '\e9d5',
  'real-estate-stairs': '\e9d6',
  'real-estate-washer': '\e9d7',
  'real-estate-water': '\e9d8',
  'security-alarm': '\e9d9',
  'security-camera': '\e9da',
  'security-fingerprint': '\e9db',
  'security-hidden-camera': '\e9dc',
  'security-key': '\e9dd',
  'security-locked': '\e9de',
  'security-safe': '\e9df',
  'security-safety': '\e9e0',
  'security-secured-profile': '\e9e1',
  'security-shield': '\e9e2',
  'security-unlocked': '\e9e3',
  'security-unsecured': '\e9e4',
  'shopping-bag': '\e9e5',
  'shopping-box': '\e9e6',
  'shopping-cash-register': '\e9e7',
  'shopping-code': '\e9e8',
  'shopping-discount': '\e9e9',
  'shopping-escalator': '\e9ea',
  'shopping-house': '\e9eb',
  'shopping-parfume': '\e9ec',
  'shopping-rack': '\e9ed',
  'shopping-sign': '\e9ee',
  'shopping-t-shirt': '\e9ef',
  'shopping-wallet': '\e9f0',
  'sport-basketball': '\e9f1',
  'sport-bottle': '\e9f2',
  'sport-dumbbell': '\e9f3',
  'sport-football': '\e9f4',
  'sport-golf': '\e9f5',
  'sport-jump-rope': '\e9f6',
  'sport-rugby': '\e9f7',
  'sport-small-dumbbell': '\e9f8',
  'sport-soccer-field': '\e9f9',
  'sport-winner': '\e9fa',
  'sport-winner_1': '\e9fb',
  'sport-yard': '\e9fc',
  'statistics-2': '\e9fd',
  'statistics-3': '\e9fe',
  'statistics-4': '\e9ff',
  'statistics-5': '\ea00',
  'statistics-6': '\ea01',
  'statistics-7': '\ea02',
  'statistics-chart-0': '\ea03',
  'statistics-chart-1': '\ea04',
  'statistics-circle-chart': '\ea05',
  'statistics-funnel': '\ea06',
  'statistics-speed': '\ea07',
  'statistics-workflow': '\ea08',
  'users-add': '\ea09',
  'users-arrow-down': '\ea0a',
  'users-arrow-left': '\ea0b',
  'users-arrow-right': '\ea0c',
  'users-arrow-up': '\ea0d',
  'users-close': '\ea0e',
  'users-confirm': '\ea0f',
  'users-info': '\ea10',
  'users-more': '\ea11',
  'users-remove': '\ea12',
  'users-time': '\ea13',
  'users-warning': '\ea14',
  'weather-bolt': '\ea15',
  'weather-cloud': '\ea16',
  'weather-cloudy': '\ea17',
  'weather-drop': '\ea18',
  'weather-moon': '\ea19',
  'weather-snow': '\ea1a',
  'weather-sunny': '\ea1b',
  'weather-temperature': '\ea1c',
  'weather-umbrella': '\ea1d',
  'weather-wind': '\ea1e',
  'weather-wind-storm': '\ea1f',
  'weather-wind-storm-rain': '\ea20',
);

@each $icon-name, $icon-content in $icons {
  .icon-#{$icon-name}:before {
    content: $icon-content;
  }
}
