@import '../../styles/base/config';

.error {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 50%;

  font-weight: 700;
  color: $color-red;

  padding: 5px 25px;

  transform: translateX(-50%);

  background-color: $color-grey-f9;

  box-shadow: 0 0 5px 2px $color-box-shadow;

  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  &-message {
    margin-right: 10px;
  }
}
