@import '../../../styles/base/functions';
@import '../../../styles/base/config';
@import '../../../styles/base/extends';
@import '../../../styles/base/mixins';

.item {
  width: 100%;
  @include display_flex($align: center, $gap: rems(24));

  transition: width $shortTransition, max-width $shortTransition;

  &.grid {
    flex-direction: column;
    max-width: rems(270);

    .image {
      max-width: rems(270);
      width: 100%;
      height: 180px;

      img {
        max-width: rems(270);
        width: 100%;
        height: rems(180);
      }
    }

    .tags {
      @include display_flex($align: center, $wrap: wrap, $gap: rems(8));
      margin-bottom: rems(8);
    }

    .title {
      a {
        font-weight: 600;
      }
    }
  }

  &.list {
    max-width: 100%;
    width: 100%;

    flex-direction: row-reverse;
    justify-content: space-between;

    .title {
      a {
        font-weight: 500;
      }
    }
    .image {
      width: rems(96);
      height: rems(96);

      img {
        width: rems(96);
        height: rems(96);
      }
    }
  }

  .image {
    img {
      object-fit: cover;
      object-position: center;

      border-radius: 12px;

      transition: width $shortTransition, height $shortTransition;
    }
  }

  .title {
    margin-bottom: rems(16);

    a {
      color: $color-main;
    }
  }

  .info {
    @include display_flex($align: center, $gap: rems(16));

    font-family: $ff-open;
    @extend %smallFontSize;
    white-space: nowrap;

    .author {
      white-space: break-spaces;
    }
  }
}
