@import '../../styles/base/config';
@import '../../styles/base/extends';
@import '../../styles/base/mixins';

.header {
  .info {
    @include display_flex($justify: space-between);

    @extend %smallFontSize;
    font-family: $ff-open;

    margin-bottom: 40px;

    border-bottom: 1px solid rgba(21, 21, 21, 0.05);

    .left {
      @include display_flex($gap: 35px);
    }
    .right {
      @include display_flex($gap: 35px);
    }

    a {
      transition: text-shadow $shortTransition;

      &:hover {
        text-shadow: 0 0 2px;
      }
    }
  }

  .content {
    @include display_flex($align: center, $justify: space-between, $gap: 40px);
    margin-bottom: 48px;

    .input {
      @include display_flex($align: center);

      white-space: nowrap;

      padding: 10px 15px;

      border: 1px solid $color-grey-d1;
      border-radius: 12px;

      .search-filter {
        line-height: 18px;

        padding-right: 24px;
        margin-right: 24px;

        border-right: 1px solid $color-grey-d1;

        button {
          &:hover {
            text-shadow: 0 0 1px;
            cursor: pointer;
          }
        }
      }

      input {
        min-width: 250px;

        line-height: 18px;

        margin-right: 12px;

        border: none;
        outline: none;

        &::placeholder {
          color: $color-grey-a9;
        }
      }
    }

    .buttons {
      @include display_flex($align: center, $justify: flex-end, $gap: 40px);
    }
  }

  .icon-green {
    color: $color-green-6a;
    font-weight: 700;
  }
}
