@import '../../../styles/base/functions';
@import '../../../styles/base/config';
@import '../../../styles/base/extends';
@import '../../../styles/base/mixins';

.banner {
  width: 100%;

  background: $color-white-f4;

  border-radius: 12px;

  &-background {
    @include display_flex(
      $align: flex-start,
      $direction: column,
      $gap: rems(94)
    );

    height: 100%;

    padding: rems(32);

    background: url(/src/assets/images/card-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 12px;
  }

  &-header {
    @include display_flex($direction: column, $gap: rems(8));
  }

  &-subtitle {
    @extend %smallFontSize;
    color: $color-green-6a;
    font-weight: 600;
  }
}
