@import '../../styles/base/config';
@import '../../styles/base/mixins';
@import '../../styles/base/extends';

.footer {
  padding: 64px 0;

  .sections {
    @extend %display_flex;
    flex-direction: column;
    gap: 48px;
  }

  .columns {
    @extend %display_flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .copyright {
    font-family: $ff-open;
    font-size: 14px;
  }
}
