@import '../../styles/base/config';
@import '../../styles/base/mixins';
@import '../../styles/base/extends';

.footer {
  padding: 64px 0;

  .sections {
    @include display_flex($direction: column, $gap: 48px);
  }

  .columns {
    @include display_flex($align: flex-start, $justify: space-between);
  }

  .copyright {
    font-family: $ff-open;
    font-size: 14px;
  }
}
