@import '../../styles/base/config';
@import '../../styles/base/extends';
@import '../../styles/base/mixins';

.card {
  max-width: 270px;
  width: 100%;

  @include display_flex(
    $justify: space-between,
    $direction: column,
    $gap: 16px
  );

  padding: 16px;

  border: 1px solid $color-grey-d1;
  border-radius: 12px;

  .image {
    position: relative;

    .discount {
      position: absolute;
      top: 12px;
      left: 12px;
    }

    img {
      border-radius: 12px;
      width: 100%;

      object-fit: cover;
    }
  }

  .title {
    font-weight: 500;
  }

  .subtitle {
    @extend %smallFontSize;
    color: $color-grey-57;

    position: relative;
    white-space: nowrap;
    overflow: hidden;

    &::after {
      @include fadeEffect($position: right, $width: 30px, $color: $color-white);
    }
  }

  .footer {
    @include display_flex($align: center, $justify: space-between);

    .prices {
      font-weight: 600;

      .price {
        @extend %h4;
      }
      .old-price {
        @extend %smallFontSize;
        color: $color-grey-a9;
        text-decoration: line-through;
      }
    }
  }
}
