@import '../../styles/base/functions';
@import '../../styles/base/config';
@import '../../styles/base/extends';
@import '../../styles/base/mixins';

.filter {
  @include display_flex($align: center, $gap: rems(12), $wrap: wrap);

  .text {
    @extend %smallFontSize;
    color: $color-grey-a9;
    font-weight: 600;
  }
}

.body {
  @include display_flex($gap: rems(32));

  aside {
    max-width: rems(270);
    width: 100%;

    @include display_flex($direction: column, $gap: rems(48));
  }

  .content {
    width: 100%;
    transition: gap $shortTransition, display $shortTransition;

    &.grid {
      @include display_grid(
        $columns: 3,
        $column-gap: rems(32),
        $row-gap: rems(48)
      );
    }

    &.list {
      width: 100%;
      @include display_flex($direction: column, $gap: rems(32));
    }

    .no-products {
      text-align: center;
    }
  }
}
