@import '../../styles/base/functions';
@import '../../styles/base/config';
@import '../../styles/base/extends';
@import '../../styles/base/mixins';

.title {
  @include display_flex($align: center, $justify: space-between);

  .filters {
    @include display_flex($gap: rems(24));

    .item {
      @include display_flex($align: center, $gap: rems(4));

      font-size: rems(12);
      color: $color-grey-a9;

      transition: color $shortTransition;

      i {
        font-size: rems(16);
        font-weight: 700;

        transition: color $shortTransition;
      }
    }

    .active {
      color: $color-main;
      pointer-events: none;

      i {
        color: $color-green-6a;
      }
    }
  }
}
