@import '../../styles/base/config';
@import '../../styles/base/mixins';
@import '../../styles/base/extends';

.tags {
  @include display_flex($wrap: wrap, $gap: 16px);

  &-tag {
    @extend %smallFontSize;
    color: $color-black;
    font-weight: 700;

    padding: 4px 10px;

    background-color: $color-grey-f5;

    border-radius: 12px;
  }

  .no-tags {
    font-weight: 700;
  }
}
