// display
%display_flex {
  display: flex;
}
%display_inline_flex {
  display: inline-flex;
}
%display_grid {
  display: grid;
}

// font-sizes
%h1 {
  font-size: rems(32);
  line-height: rems(45);
}

%h2 {
  font-size: rems(26);
  line-height: rems(39);
}

%h3 {
  font-size: rems(22);
  line-height: rems(33);
}

%h4 {
  font-size: rems(18);
  line-height: rems(27);
}

%defaultFontSize {
  font-size: rems(15);
  line-height: rems(22);
}

%smallFontSize {
  font-size: rems(12);
  line-height: rems(18);
}

%filterFontSize {
  font-size: rems(14);
  line-height: rems(19);
}
